.item {
  width: 150px;
  padding: 0 1rem 1rem 1rem;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

.image {
  margin-top: -3.5rem;
  height: 130px;
  object-fit: contain;
}
.image:hover {
  transform: translateY(-6px);
  transition: 0.5s
}

.itemDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemHeading p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.itemDescription button {
  background: #000;
  color: #fff;
  border-radius: 50%;
}
.itemHeading {
  text-align: left;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: capitalize;
  flex: 1;
}
.info {
  font-size: 1.3rem;
  color: #a0a0a0;
}
.price {
  font-weight: 800;
  font-size: 1.5rem;
}